@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Olá, Seja grato, seja honesto, seja gentil, seja sua melhor versão</h1>
    <p>Eu sou uma desenvolvedora.</p>
</div>
